/* src/Admin.css */

.admin-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 14%;
}

.main-content {
  width: 80%;
  max-width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  color: #333;
}

.profile {
  font-size: 1.2rem;
  color: #666;
}

.content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 10px;
}

/* src/Admin.css */

.cardq {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 10px; /* Reduce padding */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-height: 5000px; /* Set a maximum width for smaller cards */
  font-size: 0.9rem; /* Decrease font size */
}

.admin-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.option-button {
  display: inline-block;
  padding: 15px 30px; /* Vertical and horizontal padding */
  margin-top: 20px; /* Space above the button */
  background-color: #ff6347; /* Vibrant color (Tomato) */
  color: #fff; /* White text color */
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none; /* Remove underline */
  border-radius: 50px; /* Makes the button oval */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}

.option-button:hover {
  background-color: #ff4500; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
}

.option-button:active {
  transform: scale(0.95); /* Slightly shrink on click */
}
